/* You can add global styles to this file, and also import other style files */

*{
	line-height: 1.5;
	font-family: 'Nunito', sans-serif;
}
a,a:hover{
    text-decoration: none !important;
}
b{
    font-weight: 700 !important;
}
h1,h2,h3,h4,h5{
    font-weight: 300 !important;
}

h1 b,h2 b,h3 b,h4 b,h5 b{
	color:#3189F9 !important;
}

.text-emoji{
    font-family: arial,sans-serif;
}

.bienvenida-container{
    background-color:#EFF2FA;
}

.img-inline{
	width: 25px;
	display: inline-block;
	margin-top: -5px;
}



.text-blue{
	color:#11294A !important;
}
.text-200{
	font-weight: 200;
}
.text-300{
	font-weight: 300;
}
.text-400{
	font-weight: 400;
}
.text-500{
	font-weight: 500;
}
.text-600{
	font-weight: 600;
}
.text-700{
	font-weight: 700;
}
.text-800{
	font-weight: 800;
}
.text-xs{
	font-size:12px;
	line-height:1rem
}
.text-xs-xs{
	font-size:10px;
	line-height:1rem
}
.rounded-5{
	-webkit-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}
.rounded-10{
	-webkit-border-radius: 10px 10px 10px 10px !important;
	border-radius: 10px 10px 10px 10px !important;
}
.rounded-15{
	-webkit-border-radius: 15px 15px 15px 15px !important;
	border-radius: 15px 15px 15px 15px !important;
}
.rounded-20{
	-webkit-border-radius: 20px 20px 20px 20px !important;
	border-radius: 20px 20px 20px 20px !important;
}
.rounded-25{
	-webkit-border-radius: 25px 25px 25px 25px !important;
	border-radius: 25px 25px 25px 25px !important;
}
.rounded-30{
	-webkit-border-radius: 30px 30px 30px 30px !important;
	border-radius: 30px 30px 30px 30px !important;
}


.box-shadow{
	-webkit-box-shadow: 0px 0px 30px -15px #000000;
	box-shadow: 0px 0px 30px -15px #000000;
}
.card{
	-webkit-box-shadow: 0px 0px 15px -10px #000000;
	box-shadow: 0px 0px 15px -10px #000000;
	border: 1px solid #DDDDDD77;
}

.card.rounded-5 .card-header{
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.card.rounded-10 .card-header{
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.card.rounded-15 .card-header{
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

.card.rounded-20 .card-header{
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}

.card.rounded-25 .card-header{
	-webkit-border-radius: 25px 25px 0 0;
	border-radius: 25px 25px 0 0;
}

.card.rounded-30 .card-header{
	-webkit-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
}




.card.rounded-5 .card-img-top{
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.card.rounded-10 .card-img-top{
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

.card.rounded-15 .card-img-top{
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

.card.rounded-20 .card-img-top{
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}

.card.rounded-25 .card-img-top{
	-webkit-border-radius: 25px 25px 0 0;
	border-radius: 25px 25px 0 0;
}

.card.rounded-30 .card-img-top{
	-webkit-border-radius: 30px 30px 0 0;
	border-radius: 30px 30px 0 0;
}




.card.rounded-5 .card-footer{
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.card.rounded-10 .card-footer{
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.card.rounded-15 .card-footer{
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

.card.rounded-20 .card-footer{
	-webkit-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}

.card.rounded-25 .card-footer{
	-webkit-border-radius: 0 0 25px 25px;
	border-radius: 0 0 25px 25px;
}

.card.rounded-30 .card-footer{
	-webkit-border-radius: 0 0 30px 30px;
	border-radius: 0 0 30px 30px;
}




.opacity10{
    opacity:.1
}
.opacity20{
    opacity:.2
}
.opacity30{
    opacity:.3
}
.opacity40{
    opacity:.4
}
.opacity50{
    opacity:.5
}
.opacity60{
    opacity:.6
}
.opacity70{
    opacity:.7
}
.opacity80{
    opacity:.8
}
.opacity90{
    opacity:.9
}
.opacity100{
    opacity:1
}

.cursor-pointer{
    cursor:pointer;
}

.btnEduardo{
    border:2px solid #11294A !important;
    color:#11294A !important;
    font-weight: 700 !important;
}
.bg-blue{
	background-color:#11294A;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
